body {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
}

button {
    min-width: fit-content;
    white-space: nowrap;
}
